In [1]:
import numpy as np
import pandas as pd

#### Gerando dados:

In [21]:

np.random.seed(42)

id = list(range(0,1000))
idade = list(np.random.randint(18, 90, size=1000))
sexo = list(np.random.choice(['F', 'M'], size=1000))
estados_civil = list(np.random.choice(['solteiro', 'casado', 'divorciado', 'viuvo'], size=1000)) 
sinistro = list(np.random.randint(0, 2, size=1000))
premio = list(np.round(np.random.uniform(500, 2000, size=1000), 2))

dados = {"id": id, "idade": idade, "sexo": sexo, "estados_civil": estados_civil, "sinistro": sinistro, "premio": premio}

#### Transformando os dados em um data.frame

In [22]:
dataset = pd.DataFrame(dados)
dataset.head()

   id  idade sexo estados_civil  sinistro   premio
0   0     69    F        casado         0  1792.61
1   1     32    F         viuvo         1  1385.43
2   2     89    M    divorciado         0   839.42
3   3     78    F      solteiro         0  1076.36
4   4     38    F         viuvo         1  1175.19

#### Visualizando os clientes que tem mais de 30 anos:

In [23]:
dataset.loc[dataset['idade'] > 30]

      id  idade sexo estados_civil  sinistro   premio
0      0     69    F        casado         0  1792.61
1      1     32    F         viuvo         1  1385.43
2      2     89    M    divorciado         0   839.42
3      3     78    F      solteiro         0  1076.36
4      4     38    F         viuvo         1  1175.19
..   ...    ...  ...           ...       ...      ...
994  994     49    F         viuvo         1  1482.06
996  996     51    M        casado         0   594.71
997  997     72    M    divorciado         0  1665.19
998  998     49    F      solteiro         0  1732.47
999  999     67    F      solteiro         0  1192.28

[810 rows x 6 columns]

#### Filtrando clientes sem sinistro com o método query

In [27]:
dataset.query('sinistro == 0')

      id  idade sexo estados_civil  sinistro   premio
0      0     69    F        casado         0  1792.61
2      2     89    M    divorciado         0   839.42
3      3     78    F      solteiro         0  1076.36
5      5     41    F        casado         0  1368.90
6      6     20    F    divorciado         0  1639.03
..   ...    ...  ...           ...       ...      ...
995  995     27    M      solteiro         0  1735.65
996  996     51    M        casado         0   594.71
997  997     72    M    divorciado         0  1665.19
998  998     49    F      solteiro         0  1732.47
999  999     67    F      solteiro         0  1192.28

[498 rows x 6 columns]

#### Exibindo a Idade e Prêmio de cada pessoa:
##### Selecionando somente essas colunas do DataFrame

In [28]:
dataset[['idade','premio']]

     idade   premio
0       69  1792.61
1       32  1385.43
2       89   839.42
3       78  1076.36
4       38  1175.19
..     ...      ...
995     27  1735.65
996     51   594.71
997     72  1665.19
998     49  1732.47
999     67  1192.28

[1000 rows x 2 columns]

##### Iterando o DataFrame

In [42]:
for index, row in dataset.iterrows():
    print(row[1], row[-1])

69 1792.61
32 1385.43
89 839.42
78 1076.36
38 1175.19
41 1368.9
20 1639.03
39 648.31
70 1834.48
19 518.46
47 1055.08
55 541.13
19 1089.46
81 1288.72
77 1267.52
38 748.44
50 1468.61
75 567.17
39 1642.86
66 1919.97
76 1009.65
59 1275.86
77 1068.37
32 510.07
79 1078.81
79 1687.58
64 1393.98
79 651.89
68 1770.71
72 1296.63
81 1762.59
20 1370.33
68 1339.53
24 657.89
38 751.04
56 1958.04
35 842.73
21 1966.18
77 1297.87
31 703.68
26 648.95
70 813.3
19 1888.46
77 1121.23
88 1093.15
61 969.81
25 720.59
64 1231.78
52 695.07
53 1753.22
67 1055.6
21 1062.21
19 1211.01
23 1166.19
71 1992.29
21 1318.07
71 632.3
80 1410.32
35 727.38
61 546.41
51 1956.11
79 1660.31
31 1970.16
65 1216.82
32 1298.39
89 752.51
79 870.36
57 1757.82
70 1034.28
41 1740.22
43 1563.52
77 765.76
58 1261.17
46 1516.08
32 852.56
62 1746.03
82 1317.24
88 747.86
26 1374.48
18 1999.57
25 725.78
80 1725.14
28 810.96
25 1673.58
52 1601.87
52 950.73
50 988.73
22 1688.78
58 1192.17
45 1596.23
24 721.98
89 1778.84
29 1566.33
51 1860.41
50 698.56
65 1389.52
40 1398.68
79 1030.19
54 1187.7
61 556.97
52 1618.79
82 1323.98
64 586.61
20 1521.13
18 1200.17
22 551.69
31 1954.41
44 1923.67
26 1269.35
32 640.51
59 1631.93
68 1237.9
80 953.67
69 1237.13
21 1283.67
40 1344.07
32 1161.84
60 1408.63
46 1878.1
53 1043.4
30 1588.57
49 1841.68
88 1183.97
76 1165.18
45 1403.18
83 1387.11
59 1709.88
62 1214.73
79 1994.18
74 589.21
23 504.75
45 1460.3
45 947.65
61 860.57
47 967.85
79 884.07
79 546.19
18 1957.3
44 831.12
79 1601.04
20 1643.89
87 1893.89
89 545.82
44 1808.07
26 1290.84
79 1448.82
54 1466.71
68 1729.7
61 1000.11
41 1599.58
76 1292.87
49 1690.09
69 1985.82
79 800.98
75 1991.97
69 634.72
29 503.48
56 566.24
19 1012.67
20 1449.36
73 603.54
76 508.5
19 1905.64
19 1732.89
71 1713.77
18 1826.64
36 1550.05
19 656.61
70 1098.65
61 1584.72
49 920.5
87 1531.11
49 536.75
85 959.21
72 1323.7
73 1448.13
34 1365.56
55 1546.63
41 509.13
86 651.41
87 1803.42
28 1522.62
33 669.4
76 1763.11
87 863.35
20 1217.39
37 717.79
76 1565.17
53 1500.28
36 816.67
84 1795.1
36 1101.96
37 938.77
88 728.49
69 899.25
50 533.04
57 1374.89
56 1763.35
18 1323.47
28 828.91
74 550.5
67 821.94
40 1124.18
48 1639.42
59 781.76
24 1579.69
33 1800.4
77 1180.92
19 1732.15
18 1331.99
65 1455.64
29 1289.42
86 1194.76
54 851.98
49 954.79
26 934.96
36 1344.93
65 679.93
20 1875.19
37 1580.98
41 1102.17
71 737.94
50 1822.99
41 1735.67
89 1582.58
53 907.32
55 1103.67
42 654.12
35 783.56
83 1674.52
71 1572.56
52 1390.23
78 1843.59
58 1374.9
50 1200.45
85 1010.56
50 1910.67
31 624.07
38 1896.33
65 1740.07
37 694.89
25 1347.48
24 1799.82
84 1357.71
34 1860.8
50 1914.48
65 1133.58
76 1065.97
39 1904.48
47 1512.71
55 674.03
68 563.44
71 1346.94
25 1895.26
44 1766.37
44 1513.77
38 708.67
47 881.35
45 1813.27
81 774.21
86 917.66
78 694.4
65 1514.16
36 1915.97
21 903.45
52 1213.11
81 1451.51
66 1999.2
34 657.21
61 1247.86
47 1077.68
63 1798.73
23 1213.95
54 666.47
41 1451.64
63 1656.17
70 504.32
77 1788.44
80 779.03
49 1328.1
50 1123.7
84 1579.48
35 1056.74
42 1804.64
71 1595.74
75 1471.57
84 1694.36
63 1631.03
41 553.91
49 1092.1
64 1896.21
40 688.59
83 1605.64
44 1961.89
19 578.3
34 1523.29
50 1202.23
26 1368.76
60 628.01
65 564.51
56 1500.3
59 1734.96
43 1673.02
67 1315.71
42 649.8
41 1532.07
30 862.83
77 1866.6
24 1757.4
74 1564.07
53 1923.27
62 547.13
37 1604.3
82 995.36
25 1859.1
33 900.01
31 1587.28
32 1816.47
83 562.49
49 1096.47
80 1643.46
68 1182.38
42 900.88
75 829.71
80 697.28
79 1785.69
39 1363.03
75 614.58
75 1073.87
66 1051.6
69 772.61
59 1153.26
87 998.15
32 1012.71
71 1608.54
77 834.9
25 1462.79
70 1355.97
77 1352.14
22 1494.51
85 1322.57
23 1818.88
64 1513.37
72 1320.44
57 1744.64
69 1409.22
33 936.72
30 810.64
47 728.49
36 1849.18
34 1565.2
80 1906.07
36 1404.94
75 1210.1
72 589.57
79 1507.46
40 1373.31
26 1985.31
29 858.74
18 1296.11
75 1476.44
18 1466.89
51 1341.94
65 1665.39
18 807.47
33 1588.44
78 1429.6
81 1844.11
80 1770.79
86 972.72
39 914.36
84 1972.48
43 1290.9
33 1859.63
68 745.82
74 1464.23
46 1714.79
86 1921.09
64 1006.01
79 1587.47
86 1308.22
33 590.94
65 1535.0
56 1535.14
50 1895.91
40 1245.97
27 845.38
86 566.85
51 1123.46
69 952.88
27 1641.63
36 1031.4
75 1923.61
18 1943.47
86 1431.36
21 1892.99
33 1641.28
41 1320.29
19 770.46
49 1187.9
41 1341.31
29 1795.94
67 1222.0
52 1846.51
50 1511.52
50 705.5
78 1992.47
68 1290.85
60 1087.79
29 1488.67
84 663.34
82 1454.81
50 1247.35
57 1110.01
60 1929.53
61 1283.81
46 828.68
30 1188.45
29 1879.08
63 764.14
19 820.94
52 519.54
25 521.29
43 1744.09
51 1598.18
24 1032.56
85 1547.47
75 1092.81
46 1929.35
53 1950.58
38 1089.19
53 1781.33
27 1659.63
41 965.0
81 848.06
66 1187.35
53 1672.02
41 1940.25
40 1645.37
79 1782.81
54 1404.6
29 1753.11
72 1676.63
30 1065.48
40 1327.99
47 1707.13
34 569.09
79 1712.12
30 766.83
76 1272.03
36 1712.41
66 880.73
29 868.71
78 1104.15
36 1841.96
26 500.66
88 1852.07
45 730.71
69 1985.13
33 1932.27
86 1242.01
29 1269.08
42 1222.32
69 1453.17
70 636.08
40 548.93
33 586.55
74 1166.55
56 913.32
70 1433.06
59 1988.66
75 1079.48
56 1360.76
31 1123.41
22 1770.91
52 1853.35
35 1816.03
26 1961.56
75 541.28
34 1759.72
24 1627.66
63 843.04
30 1934.48
57 722.27
59 1519.32
26 837.34
67 1147.07
44 1578.74
83 1344.99
22 1141.25
46 989.51
54 1759.49
55 715.72
25 1145.15
82 1855.64
34 1768.77
88 1101.41
62 1644.66
21 1734.74
53 1833.33
87 1316.76
48 806.69
36 882.96
78 943.54
71 1390.7
56 549.21
36 1454.06
56 1046.53
84 942.86
62 1819.24
30 1190.0
75 642.58
37 1740.12
89 571.46
78 1590.12
56 1660.86
18 1028.9
20 1737.18
79 1273.49
80 1194.94
42 568.1
73 935.04
50 1896.51
55 1087.74
23 1320.05
75 1298.03
61 1385.65
62 592.0
49 1043.26
62 1584.69
78 800.84
64 805.37
38 515.14
53 1156.22
36 1824.1
37 577.85
74 786.68
35 965.13
64 1597.59
66 1460.95
31 1123.92
32 1638.6
48 1414.45
18 1844.06
71 1727.04
20 879.22
33 907.16
74 688.03
29 1005.45
33 1999.32
89 1108.63
41 830.73
45 1643.72
25 1313.71
53 724.4
25 1071.03
75 1121.7
77 1630.74
67 531.01
45 903.53
58 1276.39
81 903.27
44 1442.65
80 1222.8
34 1042.57
50 1923.81
46 1448.24
30 694.91
63 1340.14
52 1671.1
23 1562.73
86 758.13
64 1958.63
42 1173.22
83 738.54
27 770.29
73 647.35
47 1705.28
22 683.05
50 687.69
82 1775.71
35 1016.91
66 546.29
28 577.84
43 713.26
80 820.09
76 1497.72
44 735.99
66 678.31
50 1647.08
18 1506.58
38 1152.99
72 1323.96
23 967.98
86 1223.75
22 1260.01
20 1080.86
70 1859.86
40 524.09
70 1673.26
54 686.57
34 1696.32
18 1423.87
68 1764.92
62 646.27
21 1338.47
79 1251.63
82 1559.29
49 1301.44
51 1311.1
89 1144.39
56 963.25
43 1223.4
51 677.74
71 1942.27
20 1571.62
67 1928.7
29 840.09
82 1819.01
71 1713.18
22 1515.73
74 1437.54
34 974.82
64 1724.62
40 1252.27
31 606.34
83 969.29
68 1902.95
55 1776.02
81 1972.86
55 1441.99
67 871.27
47 744.22
68 780.37
80 529.69
69 1086.02
55 787.14
47 1117.48
68 1902.49
22 1145.81
46 1816.98
21 1408.26
27 870.7
73 1033.78
34 625.88
34 1000.19
86 1516.31
51 608.17
23 808.1
70 1072.16
83 1973.07
60 1677.29
40 1600.23
72 674.29
33 1671.49
25 1677.9
21 1401.65
21 1985.54
73 987.88
42 1911.91
84 1872.1
84 517.22
44 1175.17
49 1965.66
67 654.68
78 1321.68
68 1968.44
36 1333.24
38 784.72
22 1373.27
59 806.66
78 1279.56
39 611.06
38 1408.22
87 1275.18
18 1610.24
22 1446.05
29 1324.41
63 1534.67
51 715.91
66 1393.04
62 758.17
44 1888.28
43 602.5
64 1145.56
73 1543.7
80 1187.03
65 638.14
78 1330.07
43 1462.45
53 1555.69
18 1059.89
25 1345.49
69 1176.03
64 1508.08
73 1375.34
31 1288.63
45 874.29
19 503.03
43 761.12
31 675.6
76 1173.63
73 1418.39
24 819.63
20 1908.59
40 510.02
35 1658.45
55 1437.81
32 1060.33
81 575.73
45 1441.23
56 1078.42
74 1904.4
34 1312.99
61 1909.48
42 830.73
34 1588.59
30 1425.87
42 1609.11
85 822.0
27 1497.49
84 1247.06
35 1614.24
51 990.57
25 1835.09
57 626.45
59 1710.78
58 1791.98
23 1725.88
69 1269.09
43 1157.58
81 1994.39
76 843.76
73 1320.31
76 1506.01
87 1551.3
50 806.04
70 1480.99
39 1727.55
38 575.03
87 1867.28
87 544.26
21 1033.96
79 523.72
79 615.72
41 1866.75
72 1032.29
26 1137.16
20 823.02
48 1395.64
57 1392.2
53 1058.3
41 999.55
23 1827.45
83 1074.93
21 1240.25
23 924.96
68 1680.15
79 1096.17
74 1270.42
83 880.04
25 1981.49
43 937.24
68 1656.11
62 1141.24
61 809.33
22 1699.58
87 1000.41
43 1797.79
85 1872.89
36 1789.74
37 552.51
29 1681.06
64 1117.01
18 1810.58
31 1456.93
81 1750.46
55 1249.15
54 1302.54
28 716.58
20 1675.98
50 1129.08
23 1250.12
67 1677.65
27 1398.27
22 801.65
40 1385.35
27 1111.45
61 1204.29
19 542.47
30 815.04
57 921.56
19 1569.44
82 517.24
80 1113.17
34 1886.04
26 667.82
32 1274.64
41 1679.78
55 1913.8
52 1620.16
66 1580.85
86 1739.73
79 1169.3
77 1708.77
67 511.95
26 1886.84
51 1164.96
52 1330.07
18 882.32
57 1613.8
81 614.95
39 1808.95
77 1742.18
81 824.09
89 1713.99
28 1679.54
31 1448.32
77 1060.28
47 907.25
52 847.68
54 977.91
22 1855.34
43 616.46
79 1743.31
21 1023.34
59 1282.4
35 1691.73
57 1826.56
89 1017.17
56 1192.77
31 1121.77
49 519.88
68 943.91
55 1188.78
40 1116.64
80 1582.89
32 1077.21
42 1234.06
34 1144.41
83 1610.94
70 1794.46
68 1297.83
56 1684.15
68 945.18
87 1312.05
23 1017.84
84 1121.3
24 1598.62
68 1822.49
89 682.24
59 1451.96
81 1373.22
32 677.62
46 817.84
50 966.5
44 750.4
53 865.59
46 901.4
55 1003.51
74 1624.09
44 1357.87
72 1979.37
50 1122.1
85 1630.8
83 1807.2
27 1518.47
22 1117.8
55 1630.39
30 805.5
48 991.33
64 1320.03
69 1363.11
73 533.21
32 1917.67
46 1544.94
25 1243.56
22 1899.69
46 1158.64
64 1970.65
85 1268.43
62 671.43
19 1647.2
44 1518.35
53 1659.48
53 1927.16
43 1664.73
60 1417.0
44 1785.96
86 1509.87
37 1112.18
28 1828.43
55 832.85
23 1571.96
89 1822.35
40 1596.97
64 1545.91
63 1628.96
29 1197.58
30 1811.26
79 805.15
77 691.08
60 928.26
85 1297.37
22 1265.84
54 1730.9
89 1106.85
48 1226.52
26 520.05
68 1114.61
46 1471.66
57 523.26
58 921.32
28 811.93
40 562.98
18 1218.89
63 772.58
38 1614.62
53 1771.89
71 1318.38
74 1972.56
18 1175.72
80 1270.05
71 1983.83
72 847.32
57 1913.82
32 564.26
38 1169.58
64 605.01
70 1593.85
26 1412.61
69 1559.95
74 1061.72
43 1054.22
58 567.98
52 1024.92
80 1893.93
42 1068.84
55 1747.05
19 1763.49
24 1059.86
51 1447.98
34 643.06
60 655.52
76 572.99
68 1371.52
71 1139.11
41 1322.05
42 1281.61
88 1025.3
69 1516.21
87 1637.75
50 521.94
66 810.86
46 1569.85
80 1079.93
39 1493.73
43 1020.44
45 1086.13
66 738.02
88 887.35
66 1408.12
37 1149.74
80 1661.45
78 1778.88
66 1312.47
88 1637.4
18 960.36
30 1122.46
68 1569.17
73 1079.32
79 1382.76
49 778.06
47 1399.66
46 1792.27
66 1802.96
62 1586.52
47 1618.63
33 1336.89
57 1377.0
36 700.48
35 1165.79
18 1176.16
64 1937.75
83 1146.63
55 1324.01
68 1299.88
80 1455.14
21 1622.35
18 837.56
25 1293.09
46 1738.88
72 1194.67
20 917.69
49 1482.06
27 1735.65
51 594.71
72 1665.19
49 1732.47
67 1192.28

#### Criando uma coluna 'Categoria' no DataFrame para classificar os clientes de acordo com a idade

In [49]:
def Categorizar_idade(idade):
    if idade >= 18 & idade <= 30:
        categoria = "Jovem"
    if idade >= 31 & idade <= 45:
        categoria = "Adulto"
    if idade > 45:
        categoria = "Sênior"

    return categoria

dataset['categoria'] = dataset['idade'].apply(Categorizar_idade)
dataset

      id  idade sexo estados_civil  sinistro   premio categoria
0      0     69    F        casado         0  1792.61    Sênior
1      1     32    F         viuvo         1  1385.43    Adulto
2      2     89    M    divorciado         0   839.42    Sênior
3      3     78    F      solteiro         0  1076.36    Sênior
4      4     38    F         viuvo         1  1175.19    Adulto
..   ...    ...  ...           ...       ...      ...       ...
995  995     27    M      solteiro         0  1735.65    Adulto
996  996     51    M        casado         0   594.71    Sênior
997  997     72    M    divorciado         0  1665.19    Sênior
998  998     49    F      solteiro         0  1732.47    Sênior
999  999     67    F      solteiro         0  1192.28    Sênior

[1000 rows x 7 columns]

#### Incluindo uma nova coluna chamada Desconto no DataFrame que calcula os seguintes descontos

- 10% sobre o prêmio para clientes Adultos e Seniors;
- 5% para Jovens;
- Considera que o desconto só é aplicado para clientes com sinistros igual a zero.

In [55]:

def incluir_desconto(categoria):
    descontos = {"Jovem": 0.05, "Adulto": 0.1, "Sênior": 0.1}
    return descontos[categoria]

def cliente_sinistrado(sinistro):
    if sinistro == 0:
        multiplicador = 1
    else:
        multiplicador = 0
    
    return multiplicador
    

dataset['desconto'] = (dataset['categoria'].apply(incluir_desconto)) * (dataset['sinistro'].apply(cliente_sinistrado)) * (dataset['premio'])

dataset

      id  idade sexo estados_civil  sinistro   premio categoria  desconto
0      0     69    F        casado         0  1792.61    Sênior   179.261
1      1     32    F         viuvo         1  1385.43    Adulto     0.000
2      2     89    M    divorciado         0   839.42    Sênior    83.942
3      3     78    F      solteiro         0  1076.36    Sênior   107.636
4      4     38    F         viuvo         1  1175.19    Adulto     0.000
..   ...    ...  ...           ...       ...      ...       ...       ...
995  995     27    M      solteiro         0  1735.65    Adulto   173.565
996  996     51    M        casado         0   594.71    Sênior    59.471
997  997     72    M    divorciado         0  1665.19    Sênior   166.519
998  998     49    F      solteiro         0  1732.47    Sênior   173.247
999  999     67    F      solteiro         0  1192.28    Sênior   119.228

[1000 rows x 8 columns]